html {box-sizing:border-box; font-family: sans-serif;}
*, *::before, *::after {box-sizing:inherit;}


/* Header Styling */
#mainHeader {
   background: rgb(36, 41, 46);
   display: flex;
   height: 65px;
   justify-content: space-between;

}

#mainHeader div,
#mainHeader div ul{
  display: flex;

}

#mainHeader div img{
  background: rgb(36, 41, 46);
  border-radius: 50%;
  height: 30px;
  margin: 15px 15px 0 15px;
  width: 30px;
}

#mainHeader div input {
  background: rgb(63, 68, 72);
  border: none;
  border-radius: 3px;
  box-shadow: none;
  height: 25px;
  margin-top: 20px;
  outline: none;
  padding-left: 10px;
  width: 300px;
}

#mainHeader ul {
  padding-left: 10px;
}

#mainHeader ul li {
  color: white;
  font-size: 15px;
  list-style: none;
  margin: 6px 5px;
}

#mainHeader ul a {
  text-decoration: none;
}

#mainHeader ul li:hover {
  color: gray;
}

#mainHeader a {
  text-decoration: none;
}

#icons {
  margin-right: 10px;
}

#icons .optionIcons i {
  color: white;
  height: 20px;
  margin: 0px 10px;
  padding-top: 20px;
  width: 20px;
}
#icons .optionIcons #firstArrow {
  margin-left: -14px;
}

#icons .optionIcons #secondArrow {
  margin-left: -18px;
}

#icons .optionIcons .material-icons.md-24 {
  font-size: 24px;
}


#icons .optionIcons img {
  border-radius: 3px;
  height: 20px;
  margin-top: 22px;
  margin-right: 15px;
  width: 20px;
}

/* Main Content Styling */
section {
  display: flex;
}

section aside {
  padding: 20px 15px;
  width: 25%;
}

section aside img {
  border-radius: 5px;
  height: 275px;
  width: 250px;
}

section aside div h1{
  margin-bottom: 0;
}

section aside div h3 {
  color: rgb(89, 85, 85);
  font-weight: lighter;
  margin-top: 5px;
}

section aside button {
  border-radius: 5px;
  height: 30px;
  width: 250px;
}

section aside #asideImage {
border-bottom: 1px solid lightgray;
padding-bottom: 20px;
width: 250px;
}

section #asideImage button {
  cursor: pointer;
}

section #asideImage button:focus, 
section #asideImage button:visited {
  outline: none;
}

#star {
  display: flex;
}

.material-icons.md-24 {
  font-size: 16px;
  margin-right: 10px;
  margin-top: -2px;
}

section aside #pro {
  background: rgb(91, 40, 179); 
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  padding: 4px 0;
  text-align: center;
  width: 40px;
}

section aside a {
  color: rgb(89, 85, 85);
  font-size: 12px;
  text-decoration-line: none;
}

section aside #blockReport:hover {
  color: blue;
  text-decoration: none;
}

main{
  width: 75%;
}

#bodyMenu {
  border-bottom: .5px solid lightgray;
}

#bodyMenu ul{
  display: flex;
  padding: 0;
  margin: 35px 0 15px 0;
}

#bodyMenu ul li {
  color: gray;
  list-style: none;
  margin: 0 15px;
}

#bodyMenu ul a {
  text-decoration: none;
}

#bodyMenu ul li:hover {
  color: black;
}

#searchMenu {
display: flex;
justify-content: space-evenly;
height: 50px;
padding-top: 8px;  
}

#searchMenu input {
  border: 1px solid rgb(209, 213, 218);
  border-radius: 5px;
  height: 35px;
  margin-right: 5px;
  width: 70%;
}

#searchMenu select {
  border-radius: 5px;
  height: 35px;
  margin: 0 5px;
}

#repositoryList {
  border-bottom: .5px solid lightgray;
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-bottom: 5px;
  justify-content: space-between;
  width: 100%;
}

#repositoryList h3 {
  color: rgb(10, 77, 204);
  margin-bottom: -3px;
  
}

#repositoryList a {
  text-decoration: none;
}

#repositoryList h3:hover {
  text-decoration:  blue underline;
}

#aboutRepo {
  display: flex;
}

#aboutRepo p {
  color: gray;
  font-size: 12px;
  margin-top: 25px;
  margin-right:10px;
}


#repositoryList button {
  border-radius: 5px;
  bottom: 70px;
  cursor: pointer;
  left: 875px;
  position: relative;
  width: 70px;
}

#repositoryList button:focus {
  outline: none;
}

/* Footer Styling */
#mainFooter {
  border-top: .5px solid lightgray;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
  width: 70%;
}

#mainFooter ul {
  display: flex;
  padding: 0;
}

#mainFooter ul li {
  list-style: none;
  margin: 0 5px;  
}

#mainFooter div img {
  border-radius: 50%;
  height: 30px;
  margin-top: 10px;
  width: 30px;
}

#mainFooter .bottomLink{
  color: blue;
  text-decoration: none;
}

#mainFooter .bottomLink:hover {
  color: blue;
  text-decoration: underline;
}